In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [2]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)

In [3]:
zf = ZipFile('../../Data/sim_av_tumour.zip')
csv = zf.open('sim_av_tumour.csv')
sim_av_tumour = pd.read_csv(csv)
sim_av_tumour.head()

/home/elsa/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5,6,8,9,17,18,20,22,26,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX,CREG_CODE,LINKNUMBER,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,2,L0801,810000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,2,L0301,810000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,1,L0401,810000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,1,L1001,810000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,2,L0401,810000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [4]:
sim_av_tumour.shape

(1402817, 34)

In [5]:
print("The original dataset has data for %d patients" % len(sim_av_tumour))
print("After removing duplicates, the dataset has data for %d patients" % len(sim_av_tumour.drop_duplicates()))
print("There are no duplicates in the dataset")

The original dataset has data for 1402817 patients
After removing duplicates, the dataset has data for 1402817 patients
There are no duplicates in the dataset

In [6]:
df = pd.read_csv("./Data/avpat.csv", sep = "^", index_col = 0)
df.head()

   PATIENTID SEX  LINKNUMBER ETHNICITY NEWVITALSTATUS VITALSTATUSDATE
0   10000001   F   810000001         A              A      2017-01-17
1   10000002   F   810000002         Z              A      2017-01-14
2   10000003   M   810000003         A              A      2017-01-17
3   10000004   M   810000004         A              A      2017-01-13
4   10000005   F   810000005       NaN              A      2017-01-16

In [7]:
df.shape

(982482, 6)

In [8]:
df = df.merge(sim_av_tumour, left_on = 'PATIENTID', right_on = 'PATIENTID', how = 'left')
df.head()

,PATIENTID,SEX_x,LINKNUMBER_x,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX_y,CREG_CODE,LINKNUMBER_y,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,F,810000001,A,A,2017-01-17,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,2,L0801,810000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,F,810000002,Z,A,2017-01-14,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,2,L0301,810000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,M,810000003,A,A,2017-01-17,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,1,L0401,810000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,M,810000004,A,A,2017-01-13,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,1,L1001,810000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,F,810000005,NaN,A,2017-01-16,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,2,L0401,810000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [9]:
df.shape

(1039893, 39)

In [10]:
df = df.drop(['SEX_y',"LINKNUMBER_y"], axis = 1)
df.head()

,PATIENTID,SEX_x,LINKNUMBER_x,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,F,810000001,A,A,2017-01-17,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,F,810000002,Z,A,2017-01-14,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,L0301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,M,810000003,A,A,2017-01-17,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,M,810000004,A,A,2017-01-13,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,L1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,F,810000005,NaN,A,2017-01-16,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [11]:
df.shape

(1039893, 37)

In [12]:
df.rename(columns={'SEX_x': 'SEX', 'LINKNUMBER_x': 'LINKNUMBER'}, inplace=True)

In [13]:
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,F,810000001,A,A,2017-01-17,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,F,810000002,Z,A,2017-01-14,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,L0301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,M,810000003,A,A,2017-01-17,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,M,810000004,A,A,2017-01-13,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,L1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,F,810000005,NaN,A,2017-01-16,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [14]:
df.dtypes

PATIENTID                     int64
SEX                          object
LINKNUMBER                    int64
ETHNICITY                    object
NEWVITALSTATUS               object
VITALSTATUSDATE              object
TUMOURID                      int64
DIAGNOSISDATEBEST            object
SITE_ICD10_O2                object
SITE_ICD10_O2_3CHAR          object
MORPH_ICD10_O2               object
BEHAVIOUR_ICD10_O2           object
T_BEST                       object
N_BEST                       object
M_BEST                       object
STAGE_BEST                   object
STAGE_BEST_SYSTEM           float64
GRADE                        object
AGE                           int64
CREG_CODE                    object
SCREENINGSTATUSFULL_CODE     object
ER_STATUS                    object
ER_SCORE                    float64
PR_STATUS                    object
PR_SCORE                    float64
HER2_STATUS                  object
CANCERCAREPLANINTENT         object
PERFORMANCESTATUS            object
CNS                          object
ACE27                        object
GLEASON_PRIMARY             float64
GLEASON_SECONDARY           float64
GLEASON_TERTIARY            float64
GLEASON_COMBINED            float64
DATE_FIRST_SURGERY           object
LATERALITY                   object
QUINTILE_2015                object
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1039893 entries, 0 to 1039892
Data columns (total 37 columns):
PATIENTID                   1039893 non-null int64
SEX                         1039893 non-null object
LINKNUMBER                  1039893 non-null int64
ETHNICITY                   924076 non-null object
NEWVITALSTATUS              1039893 non-null object
VITALSTATUSDATE             1039893 non-null object
TUMOURID                    1039893 non-null int64
DIAGNOSISDATEBEST           1039893 non-null object
SITE_ICD10_O2               1039538 non-null object
SITE_ICD10_O2_3CHAR         1039567 non-null object
MORPH_ICD10_O2              1039549 non-null object
BEHAVIOUR_ICD10_O2          1039622 non-null object
T_BEST                      462489 non-null object
N_BEST                      374892 non-null object
M_BEST                      356850 non-null object
STAGE_BEST                  1039886 non-null object
STAGE_BEST_SYSTEM           468470 non-null float64
GRADE                       993345 non-null object
AGE                         1039893 non-null int64
CREG_CODE                   1039893 non-null object
SCREENINGSTATUSFULL_CODE    97541 non-null object
ER_STATUS                   101044 non-null object
ER_SCORE                    47124 non-null float64
PR_STATUS                   64599 non-null object
PR_SCORE                    26477 non-null float64
HER2_STATUS                 87573 non-null object
CANCERCAREPLANINTENT        287970 non-null object
PERFORMANCESTATUS           257551 non-null object
CNS                         259125 non-null object
ACE27                       73253 non-null object
GLEASON_PRIMARY             44146 non-null float64
GLEASON_SECONDARY           26001 non-null float64
GLEASON_TERTIARY            591 non-null float64
GLEASON_COMBINED            26072 non-null float64
DATE_FIRST_SURGERY          661875 non-null object
LATERALITY                  1039872 non-null object
QUINTILE_2015               1039893 non-null object
dtypes: float64(7), int64(4), object(26)
memory usage: 301.5+ MB

In [16]:
df.isna().sum()

PATIENTID                         0
SEX                               0
LINKNUMBER                        0
ETHNICITY                    115817
NEWVITALSTATUS                    0
VITALSTATUSDATE                   0
TUMOURID                          0
DIAGNOSISDATEBEST                 0
SITE_ICD10_O2                   355
SITE_ICD10_O2_3CHAR             326
MORPH_ICD10_O2                  344
BEHAVIOUR_ICD10_O2              271
T_BEST                       577404
N_BEST                       665001
M_BEST                       683043
STAGE_BEST                        7
STAGE_BEST_SYSTEM            571423
GRADE                         46548
AGE                               0
CREG_CODE                         0
SCREENINGSTATUSFULL_CODE     942352
ER_STATUS                    938849
ER_SCORE                     992769
PR_STATUS                    975294
PR_SCORE                    1013416
HER2_STATUS                  952320
CANCERCAREPLANINTENT         751923
PERFORMANCESTATUS            782342
CNS                          780768
ACE27                        966640
GLEASON_PRIMARY              995747
GLEASON_SECONDARY           1013892
GLEASON_TERTIARY            1039302
GLEASON_COMBINED            1013821
DATE_FIRST_SURGERY           378018
LATERALITY                       21
QUINTILE_2015                     0
dtype: int64

In [17]:
df.count()

PATIENTID                   1039893
SEX                         1039893
LINKNUMBER                  1039893
ETHNICITY                    924076
NEWVITALSTATUS              1039893
VITALSTATUSDATE             1039893
TUMOURID                    1039893
DIAGNOSISDATEBEST           1039893
SITE_ICD10_O2               1039538
SITE_ICD10_O2_3CHAR         1039567
MORPH_ICD10_O2              1039549
BEHAVIOUR_ICD10_O2          1039622
T_BEST                       462489
N_BEST                       374892
M_BEST                       356850
STAGE_BEST                  1039886
STAGE_BEST_SYSTEM            468470
GRADE                        993345
AGE                         1039893
CREG_CODE                   1039893
SCREENINGSTATUSFULL_CODE      97541
ER_STATUS                    101044
ER_SCORE                      47124
PR_STATUS                     64599
PR_SCORE                      26477
HER2_STATUS                   87573
CANCERCAREPLANINTENT         287970
PERFORMANCESTATUS            257551
CNS                          259125
ACE27                         73253
GLEASON_PRIMARY               44146
GLEASON_SECONDARY             26001
GLEASON_TERTIARY                591
GLEASON_COMBINED              26072
DATE_FIRST_SURGERY           661875
LATERALITY                  1039872
QUINTILE_2015               1039893
dtype: int64

In [18]:
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,F,810000001,A,A,2017-01-17,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,F,810000002,Z,A,2017-01-14,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,L0301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,M,810000003,A,A,2017-01-17,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,M,810000004,A,A,2017-01-13,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,L1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,F,810000005,NaN,A,2017-01-16,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [19]:
df = df[df['SITE_ICD10_O2_3CHAR'] == 'C50']
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
624,10000724,M,810000724,A,A,2017-01-16,10335800,2013-09-08,C64,C50,8130,3,2,0,0,2B,22.0,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,3
650,10000752,F,810000752,A,A,2017-01-16,10335805,2015-11-11,C504,C50,8140,3,NaN,0,NaN,?,22.0,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived
913,10001050,F,810001050,A,A,2017-01-16,10335823,2015-10-24,C343,C50,8130,3,NaN,3,1,4C,22.0,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-15,L,4
1543,10001750,M,810001750,A,A,2017-01-16,10335873,2014-09-23,C447,C50,8070,3,NaN,NaN,NaN,?,NaN,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived
1613,10001824,F,810001824,S,A,2017-01-17,10335879,2015-03-15,C447,C50,8070,3,2b,NaN,0,3A,NaN,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,NaN,C,1,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-15,L,4

In [20]:
df.shape

(108230, 37)

In [21]:
df['PATIENTID'].value_counts().head(10)

20036021     3
20126699     3
20021111     3
20066392     3
20121820     3
20112369     3
20105479     3
120010932    3
20111152     3
20095545     3
Name: PATIENTID, dtype: int64

In [22]:
df[df['PATIENTID'] == 20126699]

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
404609,20126699,F,820126699,A,A,2017-01-16,20126699,2014-10-17,C504,C50,8500,3,3,0,0,2B,22.0,G2,62,L1701,6001,U,NaN,U,NaN,N,C,0,Y1,NaN,NaN,NaN,NaN,NaN,2014-12-06,R,3
404610,20126699,F,820126699,A,A,2017-01-16,20136266,2014-10-17,C509,C50,8480,3,NaN,NaN,NaN,?,NaN,G1,62,L1701,NaN,P,8.0,P,NaN,NaN,NaN,NaN,Y1,NaN,NaN,NaN,NaN,NaN,2014-10-17,R,3
404611,20126699,F,820126699,A,A,2017-01-16,20136811,2014-10-17,C509,C50,8480,3,2,1,0,2B,22.0,G1,63,L1701,6001,P,8.0,N,0.0,N,NaN,NaN,99,NaN,NaN,NaN,NaN,NaN,2014-10-17,L,3

In [23]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') > 1].count()

PATIENTID                   5038
SEX                         5038
LINKNUMBER                  5038
ETHNICITY                   4935
NEWVITALSTATUS              5038
VITALSTATUSDATE             5038
TUMOURID                    5038
DIAGNOSISDATEBEST           5038
SITE_ICD10_O2               5038
SITE_ICD10_O2_3CHAR         5038
MORPH_ICD10_O2              5037
BEHAVIOUR_ICD10_O2          5038
T_BEST                      3980
N_BEST                      3608
M_BEST                      2472
STAGE_BEST                  5038
STAGE_BEST_SYSTEM           3637
GRADE                       4996
AGE                         5038
CREG_CODE                   5038
SCREENINGSTATUSFULL_CODE    1815
ER_STATUS                   3975
ER_SCORE                    1894
PR_STATUS                   2454
PR_SCORE                    1073
HER2_STATUS                 3567
CANCERCAREPLANINTENT        1946
PERFORMANCESTATUS           1390
CNS                         1698
ACE27                        412
GLEASON_PRIMARY                0
GLEASON_SECONDARY              1
GLEASON_TERTIARY               0
GLEASON_COMBINED               0
DATE_FIRST_SURGERY          3976
LATERALITY                  5038
QUINTILE_2015               5038
dtype: int64

In [24]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') > 1].head(20)

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
299651,20000013,F,820000013,A,A,2017-01-16,20000013,2014-01-22,C503,C50,8500,3,2,0,NaN,2A,22.0,G2,55,L0401,6001,P,NaN,NaN,NaN,N,Z,1,99,NaN,NaN,NaN,NaN,NaN,2014-02-28,R,2
299652,20000013,F,820000013,A,A,2017-01-16,20128529,2014-02-08,C509,C50,8500,3,3,2,0,3A,22.0,G1,55,L0401,NaN,P,8.0,NaN,NaN,N,Z,1,NaN,0,NaN,NaN,NaN,NaN,2014-02-08,R,2
299839,20000242,F,820000242,A,A,2017-01-16,20000242,2013-11-15,C504,C50,8560,3,2,1a,0,2B,22.0,G2,60,L0201,NaN,NaN,NaN,NaN,NaN,N,C,0,NaN,NaN,NaN,NaN,NaN,NaN,2013-12-18,L,3
299840,20000242,F,820000242,A,A,2017-01-16,20128536,2013-11-15,C509,C50,8500,3,3,0,0,2B,22.0,G1,61,L0201,NaN,P,NaN,N,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-11-15,L,3
299882,20000296,F,820000296,A,A,2017-01-13,20000296,2014-12-16,C509,C50,8520,3,1c,0,0,1A,22.0,G2,75,L0901,6001,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-10,R,3
299883,20000296,F,820000296,A,A,2017-01-13,20128539,2014-12-16,C504,C50,8500,2,a,NaN,NaN,0,NaN,G2,76,L0901,NaN,P,8.0,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-14,L,3
299905,20000324,F,820000324,A,A,2017-01-17,20000324,2013-07-18,C504,C50,8500,3,3,0,0,2B,22.0,G2,43,L1001,NaN,P,NaN,NaN,NaN,N,C,0,Y1,NaN,NaN,NaN,NaN,NaN,2013-07-18,L,1 - least deprived
299906,20000324,F,820000324,A,A,2017-01-17,20128540,2014-04-24,C509,C50,8500,3,NaN,NaN,NaN,?,NaN,G2,44,L1001,NaN,NaN,NaN,NaN,NaN,NaN,C,1,Y1,NaN,NaN,NaN,NaN,NaN,2014-06-20,L,1 - least deprived
299995,20000443,F,820000443,A,A,2017-01-17,20000443,2013-12-24,C509,C50,8500,3,2,1,0,2B,22.0,G3,78,L0801,6012,P,8.0,P,8.0,N,NaN,NaN,99,NaN,NaN,NaN,NaN,NaN,2014-01-22,R,1 - least deprived
299996,20000443,F,820000443,A,A,2017-01-17,20128547,2013-12-25,C503,C50,8500,3,1c,NaN,NaN,?,NaN,G2,79,L0801,NaN,P,8.0,P,7.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-01-24,L,1 - least deprived
299998,20000447,F,820000447,A,A,2017-01-16,20000447,2014-08-11,C504,C50,8520,3,1a,0,NaN,1A,NaN,G2,46,L1201,NaN,P,8.0,P,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-07,R,1 - least deprived
299999,20000447,F,820000447,A,A,2017-01-16,20128548,2014-08-11,C508,C50,8500,3,1a,NaN,NaN,?,NaN,G2,46,L1201,NaN,U,NaN,U,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-10,L,1 - least deprived
300047,20000500,F,820000500,A,A,2017-01-17,20000500,2013-05-07,C503,C50,8500,3,1c,0,NaN,1A,22.0,G3,59,L0901,6001,P,8.0,P,NaN,P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-05-28,R,4
300048,20000500,F,820000500,A,A,2017-01-17,20128551,2013-05-07,D050,C50,8742,3,NaN,NaN,NaN,U,NaN,GX,61,L0901,NaN,P,NaN,P,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-05-21,L,4
300185,20000660,F,820000660,A,A,2017-01-16,20000660,2014-12-30,C509,C50,8480,3,2,0,0,2A,22.0,G2,74,L0201,6012,NaN,NaN,NaN,NaN,NaN,C,NaN,99,NaN,NaN,NaN,NaN,NaN,2015-02-18,L,4
300186,20000660,F,820000660,A,A,2017-01-16,20128561,2015-05-04,C56,C50,8500,3,2,0,0,2A,NaN,G3,75,L0201,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,99,NaN,NaN,NaN,NaN,NaN,2015-05-04,R,4
300197,20000676,F,820000676,A,A,2017-01-16,20000676,2015-10-27,C506,C50,8520,3,2,0,NaN,2A,22.0,G2,70,L1201,6012,P,NaN,P,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-10,L,5 - most deprived
300198,20000676,F,820000676,A,A,2017-01-16,20128563,2015-11-14,C343,C50,8500,3,1c,NaN,NaN,?,NaN,G2,71,L1201,NaN,P,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-29,R,5 - most deprived
300207,20000688,F,820000688,B,A,2017-01-16,20000688,2014-10-30,C509,C50,8500,3,1c,0,NaN,1A,NaN,G2,64,L0801,6001,N,NaN,N,NaN,N,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-12,R,5 - most deprived
300208,20000688,F,820000688,B,A,2017-01-16,20128564,2014-10-30,C509,C50,8522,3,NaN,NaN,NaN,?,NaN,G3,66,L0801,NaN,N,0.0,N,0.0,P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-04,L,5 - most deprived

In [25]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 1].count()

PATIENTID                   103192
SEX                         103192
LINKNUMBER                  103192
ETHNICITY                   100620
NEWVITALSTATUS              103192
VITALSTATUSDATE             103192
TUMOURID                    103192
DIAGNOSISDATEBEST           103192
SITE_ICD10_O2               103150
SITE_ICD10_O2_3CHAR         103192
MORPH_ICD10_O2              103154
BEHAVIOUR_ICD10_O2          103167
T_BEST                       94184
N_BEST                       92610
M_BEST                       61358
STAGE_BEST                  103192
STAGE_BEST_SYSTEM            86206
GRADE                       102523
AGE                         103192
CREG_CODE                   103192
SCREENINGSTATUSFULL_CODE     69885
ER_STATUS                    87915
ER_SCORE                     41846
PR_STATUS                    57202
PR_SCORE                     24548
HER2_STATUS                  80376
CANCERCAREPLANINTENT         51170
PERFORMANCESTATUS            36148
CNS                          45445
ACE27                        10332
GLEASON_PRIMARY                 33
GLEASON_SECONDARY               24
GLEASON_TERTIARY                 1
GLEASON_COMBINED                26
DATE_FIRST_SURGERY           86881
LATERALITY                  103191
QUINTILE_2015               103192
dtype: int64

In [26]:
df = df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 1]

In [27]:
df.shape

(103192, 37)

In [28]:
df['SEX'].value_counts()

F    101774
M      1418
Name: SEX, dtype: int64

In [51]:
pd.set_option('display.max_rows', 20) 
df['DIAGNOSISDATEBEST'].sort_values()

366512    2013-01-01
368043    2013-01-01
319630    2013-01-01
329207    2013-01-01
367709    2013-01-01
             ...
396784    2015-12-31
336267    2015-12-31
329282    2015-12-31
301584    2015-12-31
714494    2015-12-31
Name: DIAGNOSISDATEBEST, Length: 103192, dtype: object

In [52]:
pd.set_option('display.max_rows', None)

In [53]:
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
624,10000724,M,810000724,A,A,2017-01-16,10335800,2013-09-08,C64,C50,8130,3,2,0,0,2B,22.0,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,3
650,10000752,F,810000752,A,A,2017-01-16,10335805,2015-11-11,C504,C50,8140,3,NaN,0,NaN,?,22.0,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived
913,10001050,F,810001050,A,A,2017-01-16,10335823,2015-10-24,C343,C50,8130,3,NaN,3,1,4C,22.0,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-15,L,4
1543,10001750,M,810001750,A,A,2017-01-16,10335873,2014-09-23,C447,C50,8070,3,NaN,NaN,NaN,?,NaN,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived
1613,10001824,F,810001824,S,A,2017-01-17,10335879,2015-03-15,C447,C50,8070,3,2b,NaN,0,3A,NaN,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,NaN,C,1,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-15,L,4

In [55]:
df['SITE_ICD10_O2_3CHAR'].value_counts().head(10)

C50    103192
Name: SITE_ICD10_O2_3CHAR, dtype: int64

In [56]:
df['SITE_ICD10_O2'].value_counts().head(10)

C509    39781
C504    29605
C502     9344
C508     5634
C505     5499
C501     5357
C503     4819
C500     1078
C506      520
C341      266
Name: SITE_ICD10_O2, dtype: int64

In [104]:
df['SITE_ICD10_O2'] = df['SITE_ICD10_O2'].astype(str)
def site_icd(value):
    if value.startswith('C50'):
        return value
    else:
        return np.nan

df['SITE_ICD10_O2'] = df['SITE_ICD10_O2'].apply(site_icd)
df['SITE_ICD10_O2'].value_counts()

C509    39781
C504    29605
C502     9344
C508     5634
C505     5499
C501     5357
C503     4819
C500     1078
C506      520
Name: SITE_ICD10_O2, dtype: int64

In [103]:
df['MORPH_ICD10_O2'].value_counts().head(10)

8500.0    77247
8520.0    12369
8480.0     2199
8522.0     2113
8010.0     1684
8140.0     1617
8211.0     1427
8000.0     1170
8503.0      423
8070.0      381
Name: MORPH_ICD10_O2, dtype: int64

In [58]:
df['BEHAVIOUR_ICD10_O2'].value_counts()

3      81969
3.0    20342
5        543
2        189
5.0       71
XXX       13
6         11
0          8
1          6
1.0        5
2          4
6.0        3
0.0        2
9          1
Name: BEHAVIOUR_ICD10_O2, dtype: int64

In [59]:
df['BEHAVIOUR_ICD10_O2'] = df['BEHAVIOUR_ICD10_O2'].astype(str)
def behaviour(value):
    if value.startswith('0'):
        return 'Benign'
    elif value.startswith('1'):
        return 'Uncertain'
    elif value.startswith('2'):
        return 'In situ'
    elif value.startswith('3'):
        return 'Malignant'
    elif value.startswith('5'):
        return 'Micro-invasive'
    elif value.startswith('X') or value.startswith('6') or value.startswith('9') or value == 'nan':
        return np.nan
    else:
        return value

df['BEHAVIOUR_ICD10_O2'] = df['BEHAVIOUR_ICD10_O2'].apply(behaviour)
        
df['BEHAVIOUR_ICD10_O2'].value_counts()

Malignant         102311
Micro-invasive       614
In situ              193
Uncertain             11
Benign                10
Name: BEHAVIOUR_ICD10_O2, dtype: int64

In [60]:
df['T_BEST'].value_counts()

2      34641
1c     28419
1b     10696
1       7680
3       5289
1a      3211
4       1170
4b       883
1mi      577
4d       391
2a       347
is       190
4a       139
4c       129
0         80
3a        80
2b        75
a         56
1d        31
2c        29
3b        24
1a1       12
3c         7
X          5
1a2        5
1b2        4
T2         4
1b1        3
2a2        2
2A         1
1C         1
3d         1
T1         1
2d         1
Name: T_BEST, dtype: int64

In [61]:
def T_best(value):
    if value == 'T2':
        return '2'
    elif value == '2A':
        return '2a'
    elif value == 'T1':
        return '1'
    elif value == '1C':
        return '1c'
    elif value == 'X' or value == 'is' or value == 'a' or value == 'nan':
        return np.nan
    else:
        return value

df['T_BEST'] = df['T_BEST'].apply(T_best)
df['T_BEST'].value_counts()

2      34645
1c     28420
1b     10696
1       7681
3       5289
1a      3211
4       1170
4b       883
1mi      577
4d       391
2a       348
4a       139
4c       129
0         80
3a        80
2b        75
1d        31
2c        29
3b        24
1a1       12
3c         7
1a2        5
1b2        4
1b1        3
2a2        2
3d         1
2d         1
Name: T_BEST, dtype: int64

In [62]:
df['N_BEST'].value_counts()

0      62824
1      15232
1a      5323
1mi     2609
2       2546
2a      1715
3       1039
3a       875
1b       140
1c       114
3c        79
3b        61
2b        41
X          6
2c         5
N0         1
Name: N_BEST, dtype: int64

In [63]:
df['N_BEST'] = df['N_BEST'].astype(str)
def N_best(value):
    if value == 'N0':
        return '0'
    elif value == 'X' or value == '+' or value == 'nan':
        return np.nan
    else:
        return value

df['N_BEST'] = df['N_BEST'].apply(N_best)
df['N_BEST'].value_counts()

0      62825
1      15232
1a      5323
1mi     2609
2       2546
2a      1715
3       1039
3a       875
1b       140
1c       114
3c        79
3b        61
2b        41
2c         5
Name: N_BEST, dtype: int64

In [64]:
df['M_BEST'].value_counts()

0     58271
1      2954
1b       74
1a       30
X        27
1c        2
Name: M_BEST, dtype: int64

In [65]:
df['M_BEST'] = df['M_BEST'].astype(str)
def M_best(value):
    if value == 'X' or value == 'nan':
        return np.nan
    else:
        return value

df['M_BEST'] = df['M_BEST'].apply(M_best)
df['M_BEST'].value_counts()

0     58271
1      2954
1b       74
1a       30
1c        2
Name: M_BEST, dtype: int64

In [66]:
df['STAGE_BEST'].value_counts()

1A     40059
2A     25907
2B     12129
?       9186
3A      5216
4       3186
1B      1725
3C      1657
3B      1547
1        912
0        627
U        419
2        342
3        138
4B        25
1C        21
4S        19
1A1       18
2C        11
2A2       11
4A        10
4C         8
0A         4
2A1        3
3S         3
1A2        3
1B1        2
1B2        1
2E         1
1S         1
0IS        1
Name: STAGE_BEST, dtype: int64

In [67]:
def stage_best(value):
    if value == 'U' or value == '?':
        return np.nan
    else:
        return value

df['STAGE_BEST'] = df['STAGE_BEST'].apply(stage_best)
df['STAGE_BEST'].value_counts()

1A     40059
2A     25907
2B     12129
3A      5216
4       3186
1B      1725
3C      1657
3B      1547
1        912
0        627
2        342
3        138
4B        25
1C        21
4S        19
1A1       18
2A2       11
2C        11
4A        10
4C         8
0A         4
1A2        3
3S         3
2A1        3
1B1        2
0IS        1
1S         1
2E         1
1B2        1
Name: STAGE_BEST, dtype: int64

In [68]:
df['STAGE_BEST_SYSTEM'].value_counts()

22.0    85736
21.0      204
23.0      143
20.0      118
24.0        3
7.0         2
Name: STAGE_BEST_SYSTEM, dtype: int64

In [69]:
df['GRADE'].value_counts()

G2    51294
G3    30486
G1    14918
GX     5768
G4       57
Name: GRADE, dtype: int64

In [70]:
def grade(value):
    if value == 'GX':
        return np.nan
    else:
        return value

df['GRADE'] = df['GRADE'].apply(grade)
df['GRADE'].value_counts()

G2    51294
G3    30486
G1    14918
G4       57
Name: GRADE, dtype: int64

In [71]:
df['AGE'].describe()

count    103192.000000
mean         62.998149
std          14.220920
min           3.000000
25%          52.000000
50%          63.000000
75%          73.000000
max         105.000000
Name: AGE, dtype: float64

In [30]:
df['AGE'].sort_values().head(20)

336327      3
309215      5
313285      5
316524      5
406070      5
381313      8
320824     14
867942     15
381818     16
855964     17
1014364    17
376844     18
394099     19
337630     20
367849     20
366424     20
344503     20
324188     21
381200     21
311059     21
Name: AGE, dtype: int64

In [72]:
df['CREG_CODE'].value_counts()

L0801    22018
L1001    16159
L1701    13086
L0201    12952
L0401    11994
L1201    10969
L0301    10087
L0901     5927
Name: CREG_CODE, dtype: int64

In [73]:
df['SCREENINGSTATUSFULL_CODE'].value_counts()

6001.0    22101
6012.0    12299
6006.0     9919
6001       7260
6013.0     4342
6012       4298
6006       3489
6014.0     3306
6013       1562
6014       1168
6002.0       21
1.0          19
6020.0       15
6015.0       12
7010.0        9
6020          9
1             8
6007.0        7
6002          7
6015          6
7006.0        5
7001.0        4
6008.0        4
5001.0        3
9.0           2
5009.0        2
6008          2
NE            1
5018.0        1
9             1
5011.0        1
7007.0        1
6009.0        1
Name: SCREENINGSTATUSFULL_CODE, dtype: int64

In [74]:
df['ER_STATUS'].value_counts()

P     66699
N     11676
U      9029
Pm      338
X       114
B        59
Name: ER_STATUS, dtype: int64

In [75]:
df['ER_STATUS'] = df['ER_STATUS'].astype(str)
def er_status(value):
    if value == 'Pm' or value == 'U' or value == 'X' or value == 'B' or value == 'nan':
        return np.nan        
    else:
        return value

df['ER_STATUS'] = df['ER_STATUS'].apply(er_status)
df['ER_STATUS'].value_counts()

P    66699
N    11676
Name: ER_STATUS, dtype: int64

In [76]:
df['ER_SCORE'].describe()

count    41846.000000
mean         6.647589
std          2.694985
min          0.000000
25%          7.000000
50%          8.000000
75%          8.000000
max          8.000000
Name: ER_SCORE, dtype: float64

In [77]:
df['ER_SCORE'].value_counts()

8.0    29640
0.0     5102
7.0     3735
6.0     1146
5.0      653
4.0      555
3.0      529
2.0      476
1.0       10
Name: ER_SCORE, dtype: int64

In [78]:
df['PR_STATUS'].value_counts()

P     33146
N     15394
U      6107
X      2153
Pm      317
B        85
Name: PR_STATUS, dtype: int64

In [79]:
df['PR_STATUS'] = df['PR_STATUS'].astype(str)
def pr_status(value):
    if value == 'Pm' or value == 'U' or value == 'X' or value == 'B' or value == 'nan':
        return np.nan
    else:
        return value

df['PR_STATUS'] = df['PR_STATUS'].apply(pr_status)
df['PR_STATUS'].value_counts()

P    33146
N    15394
Name: PR_STATUS, dtype: int64

In [80]:
df['PR_SCORE'].describe()

count    24548.000000
mean         4.898403
std          3.292744
min          0.000000
25%          0.000000
50%          6.000000
75%          8.000000
max          8.000000
Name: PR_SCORE, dtype: float64

In [81]:
df['PR_SCORE'].value_counts()

8.0    8824
0.0    6526
7.0    3081
6.0    1987
5.0    1569
4.0    1208
3.0     804
2.0     527
1.0      22
Name: PR_SCORE, dtype: int64

In [82]:
df['HER2_STATUS'].value_counts()

N     65755
P     10946
B      3279
Pm      217
X       179
Name: HER2_STATUS, dtype: int64

In [83]:
df['HER2_STATUS'] = df['HER2_STATUS'].astype(str)
def her2_status(value):
    if value == 'Pm' or value == 'B' or value == 'X' or value == 'nan':
        return np.nan
    else:
        return value

df['HER2_STATUS'] = df['HER2_STATUS'].apply(her2_status)
df['HER2_STATUS'].value_counts()

N    65755
P    10946
Name: HER2_STATUS, dtype: int64

In [84]:
df['CANCERCAREPLANINTENT'].value_counts()

C     44451
9      4672
Z      1676
X       188
Cm      179
Zm        4
Name: CANCERCAREPLANINTENT, dtype: int64

In [85]:
df['CANCERCAREPLANINTENT'] = df['CANCERCAREPLANINTENT'].astype(str)
def planintent(value):
    if value == 'C':
        return 'Curative'
    elif value == 'Z':
        return 'Non curative'
    elif value == 'X':
        return 'No active treatment'
    elif value == '9' or value == 'Cm' or value == 'Zm' or value == 'nan':
        return np.nan
    else:
        return value

df['CANCERCAREPLANINTENT'] = df['CANCERCAREPLANINTENT'].apply(planintent)
df['CANCERCAREPLANINTENT'].value_counts()

Curative               44451
Non curative            1676
No active treatment      188
Name: CANCERCAREPLANINTENT, dtype: int64

In [86]:
df['CNS'].value_counts()

Y1     30778
99     10885
Y2      3105
NI       393
Y1m      150
NN        84
Y4        34
Y3         9
Y2m        3
NIm        3
Y4m        1
Name: CNS, dtype: int64

In [106]:
df['CNS'] = df['CNS'].astype(str)
def cns(value):
    if value == '99' or value == 'Y1m' or value == 'Y2m' or value == 'NIm' or value == 'Y4m' or value == 'nan':
        return np.nan
    else:
        return value

df['CNS'] = df['CNS'].apply(cns)
df['CNS'].value_counts()

Y1    30778
Y2     3105
NI      393
NN       84
Y4       34
Y3        9
Name: CNS, dtype: int64

In [87]:
df['ACE27'].value_counts()

9     5927
0     2758
1      828
3      437
2      372
3m       4
1m       3
2m       3
Name: ACE27, dtype: int64

In [88]:
df['ACE27'] = df['ACE27'].astype(str)
def ace27(value):
    if value.startswith('9') or value == 'nan':
        return np.nan
    else:
        return value

df['ACE27'] = df['ACE27'].apply(ace27)
df['ACE27'].value_counts()

0     2758
1      828
3      437
2      372
3m       4
1m       3
2m       3
Name: ACE27, dtype: int64

In [89]:
df['GLEASON_PRIMARY'].value_counts()

3.0    19
4.0    12
5.0     2
Name: GLEASON_PRIMARY, dtype: int64

In [90]:
df['GLEASON_SECONDARY'].value_counts()

3.0    12
4.0     8
5.0     4
Name: GLEASON_SECONDARY, dtype: int64

In [91]:
df['GLEASON_TERTIARY'].value_counts()

3.0    1
Name: GLEASON_TERTIARY, dtype: int64

In [92]:
df['GLEASON_COMBINED'].value_counts()

7.0    13
6.0     9
8.0     3
9.0     1
Name: GLEASON_COMBINED, dtype: int64

In [93]:
pd.set_option('display.max_rows', 20) 
df['DATE_FIRST_SURGERY'].sort_values().dropna()

329245    1995-04-14
366512    2013-01-01
368043    2013-01-01
366219    2013-01-02
326098    2013-01-02
             ...
360695    2016-12-30
321050    2016-12-31
351169    2017-01-02
300153    2017-01-12
321106    2017-01-30
Name: DATE_FIRST_SURGERY, Length: 86881, dtype: object

In [94]:
pd.set_option('display.max_rows', None)

In [95]:
df['LATERALITY'].value_counts()

L    52412
R    49275
9     1333
8      137
M       21
B       13
Name: LATERALITY, dtype: int64

In [96]:
df['LATERALITY'] = df['LATERALITY'].astype(str)
def laterality(value):
    if value.startswith('8') or value.startswith('9') or value == 'nan':
        return np.nan
    else:
        return value

df['LATERALITY'] = df['LATERALITY'].apply(laterality)
df['LATERALITY'].value_counts()

L    52412
R    49275
M       21
B       13
Name: LATERALITY, dtype: int64

In [97]:
df['QUINTILE_2015'].value_counts()

1 - least deprived    24271
2                     23694
3                     21234
4                     18530
5 - most deprived     15463
Name: QUINTILE_2015, dtype: int64

In [98]:
df.shape

(103192, 37)

In [99]:
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
624,10000724,M,810000724,A,A,2017-01-16,10335800,2013-09-08,C64,C50,8130,Malignant,2,0,0,2B,22.0,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,NaN,Curative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,3
650,10000752,F,810000752,A,A,2017-01-16,10335805,2015-11-11,C504,C50,8140,Malignant,NaN,0,NaN,NaN,22.0,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived
913,10001050,F,810001050,A,A,2017-01-16,10335823,2015-10-24,C343,C50,8130,Malignant,NaN,3,1,4C,22.0,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,NaN,Non curative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-15,L,4
1543,10001750,M,810001750,A,A,2017-01-16,10335873,2014-09-23,C447,C50,8070,Malignant,NaN,NaN,NaN,NaN,NaN,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived
1613,10001824,F,810001824,S,A,2017-01-17,10335879,2015-03-15,C447,C50,8070,Malignant,2b,NaN,0,3A,NaN,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,NaN,Curative,1,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-15,L,4

In [100]:
df.columns

Index(['PATIENTID', 'SEX', 'LINKNUMBER', 'ETHNICITY', 'NEWVITALSTATUS',
       'VITALSTATUSDATE', 'TUMOURID', 'DIAGNOSISDATEBEST', 'SITE_ICD10_O2',
       'SITE_ICD10_O2_3CHAR', 'MORPH_ICD10_O2', 'BEHAVIOUR_ICD10_O2', 'T_BEST',
       'N_BEST', 'M_BEST', 'STAGE_BEST', 'STAGE_BEST_SYSTEM', 'GRADE', 'AGE',
       'CREG_CODE', 'SCREENINGSTATUSFULL_CODE', 'ER_STATUS', 'ER_SCORE',
       'PR_STATUS', 'PR_SCORE', 'HER2_STATUS', 'CANCERCAREPLANINTENT',
       'PERFORMANCESTATUS', 'CNS', 'ACE27', 'GLEASON_PRIMARY',
       'GLEASON_SECONDARY', 'GLEASON_TERTIARY', 'GLEASON_COMBINED',
       'DATE_FIRST_SURGERY', 'LATERALITY', 'QUINTILE_2015'],
      dtype='object')

In [105]:
df.shape

(103192, 37)

In [108]:
df.isna().sum().sort_values(ascending = False)

GLEASON_TERTIARY            103191
GLEASON_SECONDARY           103168
GLEASON_COMBINED            103166
GLEASON_PRIMARY             103159
ACE27                        98787
PR_SCORE                     78644
CNS                          68789
PERFORMANCESTATUS            67044
ER_SCORE                     61346
CANCERCAREPLANINTENT         56877
PR_STATUS                    54652
M_BEST                       41861
SCREENINGSTATUSFULL_CODE     33307
HER2_STATUS                  26491
ER_STATUS                    24817
STAGE_BEST_SYSTEM            16986
DATE_FIRST_SURGERY           16311
N_BEST                       10588
STAGE_BEST                    9605
T_BEST                        9259
GRADE                         6437
ETHNICITY                     2572
SITE_ICD10_O2                 1555
LATERALITY                    1471
BEHAVIOUR_ICD10_O2              53
MORPH_ICD10_O2                  38
LINKNUMBER                       0
QUINTILE_2015                    0
SEX                              0
VITALSTATUSDATE                  0
NEWVITALSTATUS                   0
AGE                              0
TUMOURID                         0
DIAGNOSISDATEBEST                0
SITE_ICD10_O2_3CHAR              0
CREG_CODE                        0
PATIENTID                        0
dtype: int64

In [109]:
columns_selected = ['PATIENTID', 'SEX', 'LINKNUMBER', 'ETHNICITY', 'NEWVITALSTATUS',
       'VITALSTATUSDATE', 'TUMOURID', 'DIAGNOSISDATEBEST', 'SITE_ICD10_O2',
       'SITE_ICD10_O2_3CHAR', 'MORPH_ICD10_O2', 'BEHAVIOUR_ICD10_O2', 'T_BEST',
       'N_BEST', 'M_BEST', 'STAGE_BEST', 'STAGE_BEST_SYSTEM', 'GRADE', 'AGE',
       'CREG_CODE', 'ER_STATUS', 'ER_SCORE', 'SCREENINGSTATUSFULL_CODE',
       'PR_STATUS', 'PR_SCORE', 'HER2_STATUS', 'CANCERCAREPLANINTENT',
       'PERFORMANCESTATUS', 'CNS', 'ACE27', 'DATE_FIRST_SURGERY', 'LATERALITY', 'QUINTILE_2015']

In [110]:
df = df[columns_selected]
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,SCREENINGSTATUSFULL_CODE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
624,10000724,M,810000724,A,A,2017-01-16,10335800,2013-09-08,NaN,C50,8130,Malignant,2,0,0,2B,22.0,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,NaN,Curative,NaN,NaN,NaN,NaN,R,3
650,10000752,F,810000752,A,A,2017-01-16,10335805,2015-11-11,C504,C50,8140,Malignant,NaN,0,NaN,NaN,22.0,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived
913,10001050,F,810001050,A,A,2017-01-16,10335823,2015-10-24,NaN,C50,8130,Malignant,NaN,3,1,4C,22.0,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,NaN,Non curative,NaN,NaN,NaN,2015-12-15,L,4
1543,10001750,M,810001750,A,A,2017-01-16,10335873,2014-09-23,NaN,C50,8070,Malignant,NaN,NaN,NaN,NaN,NaN,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived
1613,10001824,F,810001824,S,A,2017-01-17,10335879,2015-03-15,NaN,C50,8070,Malignant,2b,NaN,0,3A,NaN,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,NaN,Curative,1,NaN,NaN,2015-03-15,L,4

In [111]:
df.shape

(103192, 33)

In [112]:
df.to_csv('./Data/avpat_avtum.csv', sep='^')

In [158]:
#df = df.set_index(['PATIENTID',df.groupby('PATIENTID').cumcount()+1]).unstack().sort_index(level=1, axis=1)
#df.columns = df.columns.map('{0[0]}_{0[1]}'.format)
#df.reset_index()

KeyboardInterrupt: